
.idea/inspectionProfiles/profiles_settings.xml
.idea/LattesExtractor.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/functions.cpython-310.pyc
__pycache__/researcher.cpython-310.pyc
temp/curriculo.xml
.idea/workspace.xml
lattes/0232988306987805.zip
lattes/0970111009687779.zip
