
.idea/inspectionProfiles/profiles_settings.xml
.idea/LattesExtractor.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/functions.cpython-310.pyc
__pycache__/researcher.cpython-310.pyc
temp/curriculo.xml
.idea/workspace.xml
lattes/0232988306987805.zip
lattes/0970111009687779.zip
lattes/9622051867672434.zip
playground.py
lattes - Copia/0232988306987805.zip
lattes - Copia/0970111009687779.zip
lattes - Copia/4554111675883844.zip
lattes - Copia/9622051867672434.zip
